header {
  text-align: center;
  margin: 3em 0;
  h1 {
    margin-bottom: 0;
  }
  h2 {
    font-size: 1.4em;
    margin-top: 0;
  }
}

nav {
  text-align: center;
  margin: 1em 0;
  font-weight: 400;
  font-size: 1.5em;
  a {
    display: inline-block;
    padding: 1em;
  }
}

.container {
  margin-top: 2em;
}

footer {
  text-align: center;
  margin: 4em 0;
}

.subscribe_button_wrapper {
  text-align: center;
  margin: 2em 0;
}

p.note {
  padding: 1em;
}

.episode {
  text-align: center;
}

.episodes-list {
  .episode-list-item {
    text-align: center;
    > a {
      display: block;
      position: relative;
      img.play {
        position: absolute;
        left: 38%;
        top: 25%;
        @include transition-property(opacity);
        @include transition-duration(1s);
        @include opacity(0.5);
      }
      img.cover-image {
        @include transition-property(opacity);
        @include transition-duration(1s);
        @include opacity(0.5);
      }
      &:hover {
        img.cover-image {
          @include opacity(1);
        }
        img.play {
          @include opacity(1);
        }
      }
    }
  }
}
