$logo-primary-color: #A531DD;
$logo-secondary-color: #6DC8DF;
$background-pattern: url(../images/twinkle_twinkle.png);
$active-link-color: white;
$text-primary-color: #ccc;
$text-highlight-color: red;
$note-bg-color: rgb(248, 255, 197);
$note-text-color: #333;

html {
  height: 100%;
}

body {
  background: $background-pattern;
  min-height: 100%;
}

header {
  h1 {
    color: $logo-primary-color;
  }
  h2 {
    color: $logo-secondary-color;
    text-transform: uppercase;
  }
}

nav {
  text-transform: uppercase;
  a {
    color: $logo-primary-color;
    font-weight: 200;
    &.active {
      color: $active-link-color;
    }
  }
}

.container {
  color: $text-primary-color;

  h3, h4, h5, h6 {
    color: $text-highlight-color;
  }
}

footer {
  color: $text-primary-color;
}

.subscribe_button_wrapper {
  a.subscribe.button {
    font-size: 1.5em;
    background-color: $logo-primary-color;
    border: 0;
    text-transform: uppercase;
    font-weight: 400;
    &:hover {
      background-color: shade($logo-primary-color, 20);
    }
  }
  h5.subscribe_subtext {
    color: $logo-secondary-color;
    font-weight: 200;
  }
}

p.note {
  background-color: $note-bg-color;
  color: $note-text-color;
}

.episodes-list {
  .episode-list-item {
    > a {
      p {
        color: $text-primary-color;
      }
    }
  }
}
