$logo-primary-color: #A531DD;
$logo-secondary-color: #6DC8DF;
$background-pattern: url(../images/twinkle_twinkle.png);
$active-link-color: white;
$text-primary-color: #ccc;
$text-highlight-color: red;

html {
  height: 100%;
}

body {
  background: $background-pattern;
  min-height: 100%;
}

header {
  h1 {
    color: $logo-primary-color;
  }
  h2 {
    color: $logo-secondary-color;
    text-transform: uppercase;
  }
}

nav {
  text-transform: uppercase;
  a {
    color: $logo-primary-color;
    font-weight: 200;
    &.active {
      color: $active-link-color;
    }
  }
}

.container {
  color: $text-primary-color;

  h3, h4, h5, h6 {
    color: $text-highlight-color;
  }
}
