.row
  .subscribe_button_wrapper.large-9.columns.large-centered
    = link_to "Subscribe now on DailyDrip!", 'https://www.dailydrip.com/pages/pricing', class: 'subscribe button'
    %h5.subscribe_subtext Generally 2 Elixir screencasts per week. Access to all previous episodes, as well as a host of episodes on Elm, React Native, Swift3, and more!
