.row
  .subscribe_button_wrapper.large-9.columns.large-centered
    = link_to "Subscribe now for just $9/month!", 'https://elixirsips.dpdcart.com/subscriber/add?plan_id=176&plan_term_id=306', class: 'subscribe button'
    %h5.subscribe_subtext Generally 2 screencasts per week.  Access to all previous episodes.
