---
title: About | Elixir Sips
---

%h3 Who am I and what is this I don't even...?

%p
  I'm Josh Adams, the CTO of
  = link_to "a mildly successful software consultancy that does cool stuff (isotope11.com).", "http://isotope11.com"
  I'm an expert rubyist and have built systems that handle a billion plus worth
  of transactions per year (I sadly do not get a cut).  I've architected large
  projects for customers ranging from state agencies to federal agencies, and built tons of
  startups' apps.
%p
  Having said that, I'm new to Erlang and newer to elixir
  (though I have built an actor model based financial trading platform in ruby
  with celluloid). The premise of the series is that I will learn elixir as a
  professional developer that is very experienced, and you will come along for
  the ride.

%p
  I'd be remiss if I didn't mention that this entire format is inspired by
  = link_to "Avdi Grimm's RubyTapas.", "http://rubytapas.com"
  If you like this, you're bound to love RubyTapas.

= partial 'partials/subscribe_button'

%h3 FAQ

%h4 How can I subscribe to this in a feed reader?

%p
  You can use iTunes or Miro or any other video feed reader to subscribe, by
  adding the feed with your HTTP Basic Auth information in the front of the url.
  An example URL would look like
  http://username:password@elixirsips.dpdcart.com/feed.

%h3 Convenient Goodies

.offers
  .offer
    %a{href: "http://www.semaphoreci.com"}
      %img{src: "/images/semaphore_logo.png"}
    %p
      = link_to "Semaphore", "http://www.semaphoreci.com"
      is a hosted continuous integration and deployment service.  They
      have been kind enough to offer ElixirSips subscribers and visitors a
      special offer.  If you sign up with the code
      %strong STAYYOUNG15
      you'll get
      %strong 30% off of any of their plans for three months.
      The offer stays open through the end of 2015.
