---
title: About | Elixir Sips
---

%p
  I'd be remiss if I didn't mention that this entire format is inspired by
  = link_to "Avdi Grimm's RubyTapas.", "http://rubytapas.com"
  If you like this, you're bound to love RubyTapas.

= partial 'partials/subscribe_button'
