%h3 .NET Rocks special offer
%p{style: "font-size: 1.25em;"}
  Hello .NET Rocks listeners!  Click this giant button for your special offer,
  $6/month for the first 3 months and $9/month thereafter.  Thanks for listening!

.row
  .subscribe_button_wrapper.large-9.columns.large-centered
    = link_to "Subscribe now!", 'https://elixirsips.dpdcart.com/subscriber/add?plan_id=176&plan_term_id=475', class: 'subscribe button'
    %h5.subscribe_subtext Generally 2 screencasts per week.  Access to all previous episodes.
