---
title: Elixir Sips | Episodes
---

%p Nothing to see here yet.  I'm currently recording the first episode, which will be available for free.  Likely the first couple will be free, as I get my recording chops a bit more worthy.

= partial 'partials/subscribe_button'
