---
title: Elixir Sips | Episodes
---

%p Below, you'll find the list of episodes so far.  A few are available to watch without a subscription - for the rest, just sign up below.

= partial 'partials/subscribe_button'

%ul.episodes
  %li= link_to "Episode 1 - Introduction and Installing Erlang", "/episodes/001_introduction_and_installing_elixir.html"
