---
title: Elixir Sips | Learn Elixir With a Pro
---

%p You're interested in learning Elixir, but you don't really know where to start and aren't sure you can justify the time required.  I've got quite the deal for you - join me as I learn Elixir.  I'll post a couple of short screencasts each week in which I go through a single concept in Elixir on my way to learning it.

%h3 The first few planned episodes

%p This is my planned order of operations.  I have no idea what it'll end up looking like, and this piece isn't *really* intended for public consumption - just as a means for me to know what's coming up.  Nonetheless, in lieu of any actual content, this will be on the site for now :)

:markdown
  - Introduction + Installing Elixir
      - What is Elixir and why are you interested in learning it?
      - Who am I and why am I qualified to take you along as I learn it?
      - Installing Erlang
      - Installing Elixir
      - Firing up iex
  - Basic Elixir
      - Atoms
      - Numbers
      - Lists
      - Strings
      - Tuples
  - Pattern Matching
      - What Pattern Matching is, and how it is most of what you do:
          - Variable Assignment
          - Function Declaration
          - Case Statements
  - Immutability
      - What is Immutability?
      - Why is it useful?
      - What are some implications?
  - Functions
  - Modules
  - Lists / Recursion
  - Strings
  - Records
  - Mix
  - Dynamo
