---
title: "Episode 001: Introduction and Installing Elixir | Elixir Sips"
---
- episode = episodes[0]

= partial 'episodes/free_episode', locals: { episode: episode, video_url: "http://fast.wistia.net/embed/iframe/oztkwa9k78" }
