---
title: "Episode 002: Basic Elixir | Elixir Sips"
---

.episode
  %h3 Episode 002: Basic Elixir [Subscribers Only]

  = image_tag "/images/002_Basic_Elixir_Cover_Image_600x338.png"

  %p A quick overview of some of the basic types in Elixir: Atoms, Numbers, Lists, Tuples, Regexes, and Booleans.

  %p.note
    NOTE: This video is only available to subscribers.

  = partial 'partials/subscribe_button'
