---
title: "Episode 007: Dynamo, Part 1 | Elixir Sips"
---
- episode = episodes[6]

= partial 'episodes/free_episode', locals: { episode: episode, video_url: "http://fast.wistia.net/embed/iframe/vm4xoipl58" }
