---
title: "Episode 024: Ecto, Part 1 | Elixir Sips"
---
- episode = episodes[23]

= partial 'episodes/free_episode', locals: { episode: episode, video_url: "http://fast.wistia.net/embed/iframe/iigwml070y" }
