---
title: "Episode 028: XML Parsing | Elixir Sips"
---
- episode = episodes[27]

= partial 'episodes/free_episode', locals: { episode: episode, video_url: "http://fast.wistia.net/embed/iframe/pi407o195d" }
