---
title: "Episode 043: Releases With Relex | Elixir Sips"
---
- episode = episodes[42]

= partial 'episodes/free_episode', locals: { episode: episode, video_url: "http://fast.wistia.net/embed/iframe/k1bpoiat6d" }
