---
title: "Episode 054: Maps, Part 1 | Elixir Sips"
---
- episode = episodes[53]

= partial 'episodes/free_episode', locals: { episode: episode, video_url: "http://fast.wistia.net/embed/iframe/jxvlmlqfij" }
