---
title: "Episode 054: Maps, Part 1 | Elixir Sips"
---
- episode = episodes[53]

= partial 'episodes/free_episode', locals: { episode: episode, video_url: "http://fast.wistia.net/embed/iframe/jxvlmlqfij" }

%h3 Resources
:markdown
  - [Official Maps Proposal](https://gist.github.com/josevalim/b30c881df36801611d13)
  - [Current best place to find docs on maps](https://github.com/elixir-lang/elixir-lang.github.com/blob/v0.13/getting_started/7.markdown)
  - [kerl](https://github.com/spawngrid/kerl)
  - [kiex](https://github.com/taylor/kiex)
