---
title: "Episode 055: Maps, Part 2 - Structs | Elixir Sips"
---
- episode = episodes[54]

= partial 'episodes/free_episode', locals: { episode: episode, video_url: "http://fast.wistia.net/embed/iframe/p3rzfieha4" }
