---
title: "Episode 062: Quickie Synth | Elixir Sips"
---
- episode = episodes[61]

= partial 'episodes/free_episode', locals: { episode: episode, video_url: "http://fast.wistia.net/embed/iframe/qb077cmvtd" }

%h3 Resources
:markdown
  - [sox](http://sox.sourceforge.net/)
  - [Play Synth Notes in the BASH Shell](http://www.youtube.com/watch?v=rpFpZ5qs60Q)
  - [Piano keyboard image](http://www.cs.oberlin.edu/~wexler/cs150/lab09/keyboard.GIF)
  - [gs](http://www.erlang.org/documentation/doc-5.7.5/lib/gs-1.5.11/doc/html/gs_chapter4.html)
