---
title: "Episode 081: EEx | Elixir Sips"
---
- episode = episodes[80]

= partial 'episodes/free_episode', locals: { episode: episode, video_url: "http://fast.wistia.net/embed/iframe/nzl16fv8gc" }

%h3 Resources
:markdown
  - [EEx Documentation](http://elixir-lang.org/docs/stable/eex/)
  - [EEx.AssignsEngine](http://elixir-lang.org/docs/stable/eex/EEx.AssignsEngine.html)
