---
title: "Episode 084: PCM Audio | Elixir Sips"
---
- episode = episodes[83]

= partial 'episodes/free_episode', locals: { episode: episode, video_url: "http://fast.wistia.net/embed/iframe/izt397gi1p" }

%h3 Resources
:markdown
  - [Wikipedia page on Pulse-code Modulation](http://en.wikipedia.org/wiki/Pulse-code_modulation)
  - [Frequencies of Musical Notes](http://www.phy.mtu.edu/~suits/notefreqs.html)
  - [knewter/audio_playground](http://github.com/knewter/audio_playground)
  - [knewter/ex_midilib](http://github.com/knewter/ex_midilib)
