---
title: "Episode 166: Implementing Logo | Elixir Sips"
---
- episode = episodes[165]

= partial 'episodes/free_episode', locals: { episode: episode, video_url: "http://fast.wistia.net/embed/iframe/unczl85q41" }

%h3 Resources
:markdown
  - [A text version of the script](https://gist.github.com/knewter/fc10f3ed0b536356d272#file-166-md)
  - [knewter/logo](http://github.com/knewter/logo)
  - [Logo Programming Language on Wikipedia](http://en.wikipedia.org/wiki/Logo_%28programming_language%29)
