---
title: "Episode 167: Implementing Logo Part 2 (the drawening) | Elixir Sips"
---
- episode = episodes[166]

= partial 'episodes/free_episode', locals: { episode: episode, video_url: "http://fast.wistia.net/embed/iframe/yu5m2sm3rq" }

%h3 Resources
:markdown
  - [A text version of the script](https://gist.github.com/knewter/13131a8a7760f0c4b5db)
  - [knewter/logo](http://github.com/knewter/logo)
  - [wx Erlang docs](http://www.erlang.org/doc/man/wx.html)
  - [The logo example I ported](https://turtleacademy.com/view/programs/555aa690f45859910a3c986a/en)
