---
title: "Episode 168: Continuous Integration | Elixir Sips"
---
- episode = episodes[167]

= partial 'episodes/free_episode', locals: { episode: episode, video_url: "http://fast.wistia.net/embed/iframe/qujxp7m3or" }

%h3 Resources
:markdown
  - [A text version of the script](https://gist.github.com/knewter/7935b8c7e87d15b86ecc)
  - [Semaphore CI](https://semaphoreci.com/)
  - [Continuous Integration on Wikipedia](http://en.wikipedia.org/wiki/Continuous_integration)
