---
title: "Episode 210: Visualizing Another Node With `ex_top` | Elixir Sips"
---
- episode = episode_by_title("210: Visualizing Another Node With `ex_top`")

= partial 'episodes/paid_episode', locals: { episode: episode }
