---
title: "Episode 211: Parsing and Searching HTML With Floki | Elixir Sips"
---
- episode = episode_by_title(%q[211: Parsing and Searching HTML With Floki])

= partial 'episodes/paid_episode', locals: { episode: episode }
