---
title: "Episode 212: Streaming Structured Data From Webpages With Stream.resource | Elixir Sips"
---
- episode = episode_by_title(%q[212: Streaming Structured Data From Webpages With Stream.resource])

= partial 'episodes/paid_episode', locals: { episode: episode }
