---
title: "Episode 217: Internationalizing a Phoenix Application with Gettext | Elixir Sips"
---
- episode = episode_by_title(%q[217: Internationalizing a Phoenix Application with Gettext])

= partial 'episodes/paid_episode', locals: { episode: episode }
