---
title: "Episode 220: Bureaucrat API Documentation | Elixir Sips"
---
- episode = episode_by_title(%q[220: Bureaucrat API Documentation])

= partial 'episodes/paid_episode', locals: { episode: episode }
