---
title: "Episode 222: TDDing an E-Commerce Site With Phoenix, Part 1 - Setup | Elixir Sips"
---
- episode = episode_by_title(%q[222: TDDing an E-Commerce Site With Phoenix, Part 1 - Setup])

= partial 'episodes/paid_episode', locals: { episode: episode }
