---
title: "Episode 223: TDDing an E-Commerce Site With Phoenix, Part 2 - Images | Elixir Sips"
---
- episode = episode_by_title("223: TDDing an E-Commerce Site With Phoenix, Part 2 - Images")

= partial 'episodes/paid_episode', locals: { episode: episode }
