---
title: "Episode 224: TDDing an E-Commerce Site With Phoenix, Part 3 - Cart | Elixir Sips"
---
- episode = episode_by_title("224: TDDing an E-Commerce Site With Phoenix, Part 3 - Cart")

= partial 'episodes/paid_episode', locals: { episode: episode }
