---
title: "Episode 227: TDDing an E-Commerce Site With Phoenix, Part 6 - Completing an Order
 | Elixir Sips"
---
- episode = episodes[226]

= partial 'episodes/paid_episode', locals: { episode: episode }
