---
title: "Episode 229: TDDing an E-Commerce Site With Phoenix, Part 8 - Stripe Checkout | Elixir Sips"
---
- episode = episode_by_title(%q[229: TDDing an E-Commerce Site With Phoenix, Part 8 - Stripe Checkout])

= partial 'episodes/paid_episode', locals: { episode: episode }
