---
title: "Episode 229: TDDing an E-Commerce Site With Phoenix, Part 8 - Stripe Checkout | Elixir Sips"
---
- episode = episodes[228]

= partial 'episodes/paid_episode', locals: { episode: episode }
