---
title: "Episode 237: OpenGL Part 2 - Color and Depth | Elixir Sips"
---
- episode = episode_by_title(%q[237: OpenGL Part 2 - Color and Depth])

= partial 'episodes/paid_episode', locals: { episode: episode }
