---
title: "Episode 245: Raycaster Part 2: Finding Intersections | Elixir Sips"
---
- episode = episode_by_title("245: Raycaster Part 2: Finding Intersections")

= partial 'episodes/paid_episode', locals: { episode: episode }
