---
title: "Episode 250: Constraint Solving, Part 2: N-Queens Problem | Elixir Sips"
---
- episode = episode_by_title("250: Constraint Solving, Part 2: N-Queens Problem")

= partial 'episodes/paid_episode', locals: { episode: episode }
