---
title: "Episode 251: Constraint Solving, Part 3: N-Queens Problem, Part 2 | Elixir Sips"
---
- episode = episode_by_title(%q[251: Constraint Solving, Part 3: N-Queens Problem, Part 2])

= partial 'episodes/paid_episode', locals: { episode: episode }
