---
title: "Episode 261: GenStage By Way of Pairing | Elixir Sips"
---
- episode = episode_by_title("261: GenStage By Way of Pairing")

= partial 'episodes/paid_episode', locals: { episode: episode }
