---
title: "Episode 262: Phoenix Is An Interface, Not Your Application | Elixir Sips"
---
- episode = episode_by_title("262: Phoenix Is An Interface, Not Your Application")

= partial 'episodes/paid_episode', locals: { episode: episode }
