---
title: "Episode 269: Slurping Links Out of a Free Slack with ExIrc | Elixir Sips"
---
- episode = episode_by_title(%q[269: Slurping Links Out of a Free Slack with ExIrc])

= partial 'episodes/paid_episode', locals: { episode: episode }
