---
title: "Episode 270: Phoenix Users with Coherence | Elixir Sips"
---
- episode = episode_by_title(%q[270: Phoenix Users with Coherence])

= partial 'episodes/paid_episode', locals: { episode: episode }
