---
title: "Episode 271: Boyd Multerer's `phoenix_integration` | Elixir Sips"
---
- episode = episode_by_title("271: Boyd Multerer's `phoenix_integration`")

= partial 'episodes/paid_episode', locals: { episode: episode }
