---
title: "Episode 272: Phoenix API Pagination with Scrivener | Elixir Sips"
---
- episode = episode_by_title("272: Phoenix API Pagination with Scrivener")

= partial 'episodes/paid_episode', locals: { episode: episode }
