---
title: "Episode 273: Boyd Multerer's `policy_wonk` | Elixir Sips"
---
- episode = episode_by_title(%q[273: Boyd Multerer's `policy_wonk`])

= partial 'episodes/paid_episode', locals: { episode: episode }
