---
title: "Episode 274: Direct Uploads with S3 in a Phoenix API | Elixir Sips"
---
- episode = episode_by_title("274: Direct Uploads with S3 in a Phoenix API")

= partial 'episodes/paid_episode', locals: { episode: episode }
