---
title: "Episode 275: Slurping Links Out of a Free Slack with ExIrc, Part 2 | Elixir Sips"
---
- episode = episode_by_title("275: Slurping Links Out of a Free Slack with ExIrc, Part 2")

= partial 'episodes/paid_episode', locals: { episode: episode }
