---
title: "Episode 276: Slurping Links Out of a Free Slack with ExIrc, Part 3 - GenStage to the Rescue | Elixir Sips"
---
- episode = episode_by_title("276: Slurping Links Out of a Free Slack with ExIrc, Part 3 - GenStage to the Rescue")

= partial 'episodes/paid_episode', locals: { episode: episode }
