---
title: "Episode 280: Building a Dashboard with Kitto | Elixir Sips"
---
- episode = episode_by_title(%q[280: Building a Dashboard with Kitto])

= partial 'episodes/paid_episode', locals: { episode: episode }
