---
title: "Episode 286.5: Firestorm Pairing Session 5 - Josh Adams and Andrew Vy Working with Ecto Polymorphism | Elixir Sips"
---
- episode = episode_by_title("286.5: Firestorm Pairing Session 5 - Josh Adams and Andrew Vy Working with Ecto Polymorphism")

= partial 'episodes/paid_episode', locals: { episode: episode }
