---
title: "Episode 286.1: Firestorm Pairing Session #1 - Josh Adams and Michal Muskala on HexView | Elixir Sips"
---
- episode = episode_by_title(%q[286.1: Firestorm Pairing Session #1 - Josh Adams and Michal Muskala on HexView])

= partial 'episodes/paid_episode', locals: { episode: episode }
