---
title: "Episode 286.4: Firestorm Pairing Session 4 - Josh Adams and Adam Dill Pairing on the Firestorm UI | Elixir Sips"
---
- episode = episode_by_title("286.4: Firestorm Pairing Session 4 - Josh Adams and Adam Dill Pairing on the Firestorm UI")

= partial 'episodes/paid_episode', locals: { episode: episode }
